<div class="w-full">
  <img src="/icon.svg" alt="FemMed Logo" class="mx-auto aspect-square max-w-32">
  <h1 class="mt-6 text-center font-bold text-4xl">Login</h1>
  <h2 class="mt-3 text-center text-2xl">Welcome back!</h2>

  <%= form_with url: session_url, class: "mt-10 mx-auto max-w-md" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Your email address goes here :3", value: params[:email_address], class: "shadow-sm rounded-md border bg-rose-50 border-rose-300 px-3 py-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "And your password goes here hehe", maxlength: 72, class: "shadow-sm rounded-md border bg-rose-50 border-rose-300 px-3 py-2 w-full" %>
    </div>
    <div class="mt-8 flex justify-center">
      <%= form.submit "Come in!", class: "rounded-md px-6 py-3 bg-rose-400 hover:bg-rose-300 cursor-pointer font-medium" %>
    </div>
  <% end %>

  <div class="mt-16 flex justify-evenly items-center max-w-md mx-auto">
    <%= link_to "Forgot your password? x3", new_password_path, class: "text-xl underline hover:no-underline" %>
    <% if EnvConfig::PUBLIC %>
      <%= link_to "Need an account?", new_user_path, class: "text-xl underline hover:no-underline" %>
    <% end %>
  </div>
</div>
