<div class="w-full">
  <section>
    <h3 class="text-3xl">Search</h3>

    <%= form_with url: search_path, class: "mt-4", method: :get, data: { controller: "search" } do |form| %>
      <div class="flex">
        <%= form.text_field :query, value: @query, placeholder: "Search for anything your heart desires ^w^", class: "shadow-sm rounded-md border bg-rose-50 border-rose-300 px-3 py-2 w-full mr-2" %>
        <%= form.submit "Yippie", class: "rounded-md px-6 py-3 bg-rose-400 hover:bg-rose-300 cursor-pointer font-medium" %>
      </div>
      <div class="mt-1 flex items-center justify-end">
        <button data-action="search#toggleHiddenOptions" type="button" class="no-js:hidden hover:cursor-pointer">Advanced search</button>
      </div>
      <div data-search-target="hiddenOptions" class="js:hidden">
        Hidden options
      </div>
    <% end %>
  </section>

  <section class="mt-12">
    <h3 class="text-3xl border-b">Results</h3>
    <% if @categories.any? %>
      <div class="flex flex-wrap justify-baseline">
        <% @categories.each do |category| %>
          <%= link_to category.name, root_path, class: "p-3 m-1 bg-rose-50 border border-rose-300 rounded-full text-nowrap border-r" %>
        <% end %>
      </div>
    <% end %>

    <% if @medications.any? %>
      <div class="mt-6 mb-2 flex items-center justify-between md:justify-start">
        <h4 class="text-2xl">Medications</h4>
        <% if admin? %>
          <%= link_to "Add new", new_medication_path, class: "ml-3 text-zinc-600 italic" %>
        <% end %>
      </div>

      <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-6 gap-3">
        <% @medications.each do |medication| %>
          <%= render "medications/card", medication: medication %>
        <% end %>
      </div>
    <% else %>
      <div class="mt-6 mb-2 flex items-center justify-between md:justify-start">
        <h4 class="text-2xl">No medications found</h4>
        <% if admin? %>
          <%= link_to "Add new", new_medication_path, class: "ml-3 text-zinc-600 italic" %>
        <% end %>
      </div>

    <% end %>


    <% if @active_ingredients.any? %>
      <div class="mt-6 mb-2 flex items-center justify-between md:justify-start">
        <h4 class="text-2xl">Active ingredients</h4>
        <% if admin? %>
          <%= link_to "Add new", new_active_ingredient_path, class: "ml-3 text-zinc-600 italic" %>
        <% end %>
      </div>

      <% @active_ingredients.each do |active_ingredient| %>
        <%= active_ingredient.name %>
      <% end %>
    <% else %>
      <div class="mt-6 mb-2 flex items-center justify-between md:justify-start">
        <h4 class="text-2xl">No active ingredients found</h4>
        <% if admin? %>
          <%= link_to "Add new", new_active_ingredient_path, class: "ml-3 text-zinc-600 italic" %>
        <% end %>
      </div>

    <% end %>


    <% if @labelers.any? %>
      <div class="mt-6 mb-2 flex items-center justify-between md:justify-start">
        <h4 class="text-2xl">Labelers</h4>
        <% if admin? %>
          <%= link_to "Add new", new_labeler_path, class: "ml-3 text-zinc-600 italic" %>
        <% end %>
      </div>

      <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-6 gap-3">
        <%= render @labelers %>
      </div>
    <% else %>
      <div class="mt-6 mb-2 flex items-center justify-between md:justify-start">
        <h4 class="text-2xl">No labelers found</h4>
        <% if admin? %>
          <%= link_to "Add new", new_labeler_path, class: "ml-3 text-zinc-600 italic" %>
        <% end %>
      </div>
    <% end %>
  </section>
</div>
