<section>
  <h3 class="text-2xl">
    Packs
    <span class="text-black/50 italic">
      <% unless @user_medication.packs.empty? %>
        - <%= (Date.today - @user_medication.packs.last.aquired_at).to_i %>
        days since you got the last pack
      <% else %>
        - Go ahead and get some
      <% end %>
    </span>
  </h3>


  <div class="mt-6 grid grid-cols-2 gap-6">
    <div class="rounded-lg border border-zinc-300 p-4">
      <p class="text-xs uppercase tracking-widest text-rose-300 mb-2">Doses Remaining</p>
      <p class="text-3xl font-bold text-gray-900"><%= @user_medication.remaining_doses %></p>
      <p class="text-xs text-gray-500 mt-1">Cmon eat them up >:3</p>
    </div>

    <div class="rounded-lg border border-zinc-300 p-4">
      <p class="text-xs uppercase tracking-widest text-rose-300 mb-2">
        <%= @user_medication.form.name.pluralize(@user_medication.packs.sum(:amount)) %>
        Remaining</p>
      <p class="text-3xl font-bold text-gray-900">
        <%= @user_medication.remaining_units %>
        <%= @user_medication.form.name.pluralize(@user_medication.packs.sum(:amount)) %>
      </p>
      <p class="text-xs text-gray-500 mt-1">Gotta make them disappear</p>
    </div>
  </div>
</section>


<section class="mt-12">
  <h3 class="text-2xl">History</span>
  <table class="w-full mt-3 text-sm">
    <thead>
      <tr class="border-b border-zinc-200 text-left text-xs uppercase tracking-widest text-rose-300">
        <th class="pb-3 pr-8">Number</th>
        <th class="pb-3 pr-8">Doses in pack</th>
        <th class="pb-3">Date</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-zinc-100">
      <% @user_medication.packs.order(aquired_at: :desc).each_with_index do |pack, index| %>
        <tr class="transition-colors hover:bg-zinc-50">
          <td class="py-3 pr-8 font-medium text-zinc-800"><%= @user_medication.packs.count - index %></td>
          <td class="py-3 pr-8 font-medium text-zinc-800"><%= pack.amount %></td>
          <td class="my-3 font-medium text-zinc-800"><%= pack.aquired_at.strftime("%d. %m. %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
