<div class="w-full">

  <% if admin? %>
    <%= link_to "See all users", users_path, class: "rounded-lg px-6 py-3 bg-rose-400 hover:bg-rose-500 text-white font-semibold text-base shadow-md hover:shadow-lg transition-all duration-200" %>
  <% end %>

  <%= image_tag @user.profile_picture, alt: "Profile picture", class: "mx-auto aspect-square max-w-32 rounded-full border" %>
  <h1 class="mt-6 text-center font-bold text-4xl"><%= @user.username %></h1>

  <div class="mt-16 mx-auto md:max-w-2/3 flex justify-evenly items-center">
    <%= link_to "Wanna change something?", edit_user_path(@user), class: "text-xl underline hover:no-underline" %>
  </div>

  <% if hotwire_native_app? %>
    <div class="mt-16 mx-auto md:max-w-2/3 flex justify-evenly items-center">
      <%= button_to "Log out", session_path, method: :delete, class: "hover:cursor-pointer text-lg text-red-500 font-semibold" %>
    </div>
  <% end %>
</div>
