<div class="w-full">
  <%= image_tag @user.profile_picture, alt: "Profile picture", class: "mx-auto aspect-square max-w-32 rounded-full border" %>
  <h1 class="mt-6 text-center font-semibold text-3xl text-gray-800"><%= @user.username %></h1>

  <div class="mt-16 mx-auto md:max-w-2/3 flex flex-col md:flex-row justify-around items-center">
    <%= link_to t(".edit"), edit_user_path(@user), class: "my-2 text-xl underline hover:no-underline" %>
    <% if @user.id == Current.user.id %>
      <%= link_to t(".export"), new_export_path, class: "my-2 text-xl underline hover:no-underline" %>
    <% end %>
  </div>


  <% if @user.id == Current.user.id %>
    <div data-controller="push-notifications" class="mt-8 text-center">
      <button
        data-push-notifications-target="button"
        data-action="push-notifications#subscribe"
        class="hover:cursor-pointer text-lg text-red-500 font-semibold disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Enable push notifications
      </button>
      <p data-push-notifications-target="status" class="mt-2 text-sm text-gray-500"></p>
    </div>
  <% end %>

  <% if hotwire_native_app? %>
    <div class="mt-16 mx-auto md:max-w-2/3 flex justify-evenly items-center">
      <%= button_to t(".log_out"), session_path, method: :delete, class: "hover:cursor-pointer text-lg text-red-500 font-semibold" %>
    </div>
  <% end %>
</div>
