<div class="w-full">
  <h3 class="font-bold text-3xl">New dose of <%= @prescription.full_name %></h3>

  <%= form_with model: [@prescription, @dose], class: "mt-10 mx-auto max-w-md",
    data: { controller: "dose-form", dose_form_unit_value: @prescription.unit, dose_form_strength_per_dose_value: @prescription.strength_per_dose } do |form| %>
    <% if @dose.errors.any? %>
      <div class="rounded-lg bg-red-50 border border-red-200 p-4 mb-6">
        <h4 class="text-red-900 font-semibold mb-2">
          <%= pluralize(@dose.errors.count, "error") %> prohibited this dose from being saved:
        </h4>
        <ul class="list-disc list-inside text-red-800 space-y-1">
          <% @dose.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mt-5 mb-1 flex items-center">
      <%= form.number_field :amount_taken,
        required: true,
        autofocus: true,
        step: "any",
        min: 0.001,
        data: { dose_form_target: "input", action: "dose-form#updateOutput" },
        placeholder: "How many #{@prescription.form.name.pluralize.downcase} did you take? :3",
        class: "shadow-sm rounded-l-md border bg-rose-50 border-rose-300 px-3 py-2 w-full" %>
      <span class="shadow-sm rounded-r-md border bg-rose-50 border-rose-300 px-3 py-2 w-min whitespace-nowrap">
        <%= @prescription.form.name.pluralize %>
      </span>
    </div>
    <span class="ml-1 mb-3 text-sm text-rose-400 font-medium" data-dose-form-target="output">~ Strength</span>

    <div class="my-5">
      <%= form.datetime_field :taken_at,
        required: true,
        class: "shadow-sm rounded-md border bg-rose-50 border-rose-300 px-3 py-2 w-full" %>
    </div>

    <div class="mt-8 flex justify-center">
      <%= form.submit "Yummy!",
        class: "rounded-md px-6 py-3 bg-rose-400 hover:bg-rose-300 cursor-pointer font-medium" %>
    </div>
  <% end %>
</div>
