<div class="w-full">
  <h1 class="text-3xl font-semibold text-gray-800"><%= t(".blood_pressure_history") %></h1>

  <h3 class="text-2xl font-semibold text-gray-700 pb-3 border-b border-rose-100 mb-8">
    <span class="text-gray-400 font-normal italic">
      <%= "#{@bpr.count} #{t(".times_logged_count", count: @bpr.count)}" %>
    </span>
  </h3>

  <%= render "history_graph", bpr: @bpr, prescriptions: @prescriptions %>

  <table class="w-full mt-6 text-sm border-collapse">
    <thead>
      <tr class="border-b border-zinc-200 text-left text-xs uppercase tracking-widest text-rose-300">
        <th class="pb-3 pr-8"><%= t(".sys") %></th>
        <th class="pb-3 pr-8"><%= t(".dia") %></th>
        <th class="pb-3 pr-8"><%= t(".bpm") %></th>
        <th class="pb-3 pr-8"><%= t(".measured_at") %></th>
        <th class="pb-3 pr-8"><%= t(".view") %></th>
      </tr>
    </thead>
    <tbody class="divide-y divide-zinc-100">
      <% @bpr.each do |bpr| %>
        <tr class="transition-colors hover:bg-zinc-50">
          <td class="py-3 pr-8 font-medium text-zinc-800">
            <%= bpr.systolic %>
          </td>
          <td class="py-3 pr-8 font-medium text-zinc-800">
            <%= bpr.diastolic %>
          </td>
          <td class="py-3 pr-8 font-medium text-zinc-800">
            <%= bpr.bpm %>
          </td>
          <td class="my-3 pr-8 font-medium text-zinc-800">
            <%= bpr.measured_at.strftime("%B %e, %Y %H:%M") %>
          </td>
          <td class="py-3 font-medium text-zinc-800">
            <%= link_to "View", bpr %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render "partials/add_button", path: new_blood_pressure_reading_path %>
</div>
