<div class="w-full">
  <div class="flex flex-col md:flex-row justify-between">
    <h3 class="text-3xl font-semibold text-gray-800 md:w-2/3">
      <%= t(".blood_pressure_reading_from", datetime: @bpr.measured_at.strftime("%B %e, %Y at %H:%M")) %>
    </h3>
    <div class="my-6 md:my-0 flex items-center gap-2">
      <%= link_to edit_blood_pressure_reading_path(@bpr), class: "inline-flex items-center justify-center w-9 h-9 rounded-lg border border-zinc-200 bg-white hover:bg-zinc-50 hover:border-zinc-300 transition-colors" do %>
        <%= image_tag "icons/edit.svg", class: "h-4 w-4" %>
      <% end %>
      <%= button_to @bpr, method: :delete, data: { turbo_confirm: t(".confirm_delete") }, class: "inline-flex items-center justify-center w-9 h-9 rounded-lg border border-zinc-200 bg-white hover:bg-rose-50 hover:border-rose-300 transition-colors cursor-pointer" do %>
        <%= image_tag "icons/delete.svg", class: "h-4 w-4" %>
      <% end %>
    </div>
  </div>

  <div class="my-6 text-lg text-center">
    <p><%= "#{t(".systolic")}: #{@bpr.systolic} mmHg" %></p>
    <p><%= "#{t(".diastolic")}: #{@bpr.diastolic} mmHg" %></p>
    <p><%= "#{t(".heart_rate")}: #{@bpr.bpm} bpm" %></p>
  </div>

  <div class="md:w-3/5 xl:w-1/2 mx-auto"
       data-controller="blood-pressure-graph"
       data-blood-pressure-graph-sys-value="<%= @bpr.systolic %>"
       data-blood-pressure-graph-dia-value="<%= @bpr.diastolic %>">
    <div data-blood-pressure-graph-target="chart" class="w-full px-4 pb-4"></div>
  </div>
</div>
