<section>
  <div class="flex items-center justify-between">
    <h3 class="text-2xl">
      Packs
      <span class="text-black/50 italic">
        <% unless @prescription.packs.empty? %>
          - <%= (Date.today - @prescription.packs.order(:aquired_at).last.aquired_at).to_i %>
          days since you got the last pack
        <% else %>
          - Go ahead and get some
        <% end %>
      </span>
    </h3>

    <%= link_to "Add Pack", new_prescription_pack_path(@prescription), target: "_top", class: "rounded-lg px-6 py-3 bg-rose-400 hover:bg-rose-500 text-white text-center font-semibold text-base shadow-md hover:shadow-lg transition-all duration-200" %>
  </div>


  <% remaining_doses = @prescription.remaining_doses %>
  <% remaining_units = @prescription.remaining_units %>

  <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="rounded-lg border border-zinc-300 p-4">
      <p class="text-xs tracking-widest text-rose-300 mb-2">
        <span class="uppercase">
          <%= "Dose".pluralize(remaining_doses) %> Remaining
        </span>
        (<%= "#{@prescription.dosage}#{@prescription.unit}" %>)
      </p>
      <p class="text-3xl font-bold text-gray-900"><%= format("%g", remaining_doses) %></p>
      <p class="text-xs text-gray-500 mt-1">Cmon eat them up >:3</p>
    </div>

    <div class="rounded-lg border border-zinc-300 p-4">
      <p class="text-xs uppercase tracking-widest text-rose-300 mb-2">
        <%= @prescription.form.name.pluralize(remaining_units) %> Remaining
      </p>
      <p class="text-3xl font-bold text-gray-900">
        <%= format("%g", remaining_units) %>
        <%= @prescription.form.name.pluralize(remaining_units) %>
      </p>
      <p class="text-xs text-gray-500 mt-1">Gotta make them disappear</p>
    </div>
  </div>
</section>


<section class="mt-12">
  <h3 class="text-2xl">History</span>
  <table class="w-full mt-3 text-sm">
    <thead>
      <tr class="border-b border-zinc-200 text-left text-xs uppercase tracking-widest text-rose-300">
        <th class="pb-3 pr-8">Number</th>
        <th class="pb-3 pr-8"><%= @prescription.form.name.pluralize %>/Doses in pack</th>
        <th class="pb-3">Date</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-zinc-100">
      <% @prescription.packs.order(aquired_at: :desc).each_with_index do |pack, index| %>
        <tr class="transition-colors hover:bg-zinc-50">
          <td class="py-3 pr-8 font-medium text-zinc-800"><%= @prescription.packs.count - index %></td>
          <td class="py-3 pr-8 font-medium text-zinc-800">
            <%= "#{pack.amount}/#{pack.amount * @prescription.strength_per_dose / @prescription.dosage}" %>
          </td>
          <td class="my-3 font-medium text-zinc-800"><%= pack.aquired_at.strftime("%d. %m. %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
