<div class="w-full">
  <h1 class="text-3xl font-semibold text-gray-800"><%= @prescription.medication_version.full_name %></h1>

  <turbo-frame id="prescriptions_page">
    <%= render "prescriptions/nav" %>

    <section>
      <h3 class="text-2xl font-semibold text-gray-700 pb-3 border-b border-rose-100 mb-8">
        <%= t(".title") %>
        <span class="text-gray-400 font-normal italic">
          <% unless @prescription.packs.empty? %>
            - <%= t(".days_since_last", days: (Date.today - @prescription.packs.order(:acquired_at).last.acquired_at).to_i) %>
          <% else %>
            - <%= t(".get_some") %>
          <% end %>
        </span>
      </h3>


      <% remaining_doses = @prescription.remaining_doses %>
      <% remaining_units = @prescription.remaining_units %>

      <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-6">
        <% unless @prescription.amount == 1 %>
          <div class="rounded-lg border border-zinc-300 p-4">
            <p class="text-xs tracking-widest text-rose-300 mb-2">
              <span class="uppercase">
                <%= t(".doses_remaining", count: remaining_doses) %>
                (<%= "#{format("%g", @prescription.amount)} #{@prescription.form.name.pluralize}" %>)
              </span>
            </p>
            <p class="text-3xl font-bold text-gray-900"><%= format("%g", remaining_doses) %></p>
            <p class="text-xs text-gray-500 mt-1"><%= t(".eat_them_up") %></p>
          </div>
        <% end %>

        <div class="rounded-lg border border-zinc-300 p-4">
          <p class="text-xs uppercase tracking-widest text-rose-300 mb-2">
            <%= @prescription.form.name.pluralize(remaining_units) %> <%= t(".remaining") %>
          </p>
          <p class="text-3xl font-bold text-gray-900">
            <%= format("%g", remaining_units) %>
            <%= @prescription.form.name.pluralize(remaining_units) %>
          </p>
          <p class="text-xs text-gray-500 mt-1"><%= t(".gotta_disappear") %></p>
        </div>
      </div>
    </section>


    <section class="mt-12">
      <h3 class="text-2xl font-semibold text-gray-700 pb-3 border-b border-rose-100 mb-8"><%= t(".history") %></h3>
      <table class="w-full mt-3 text-sm">
        <thead>
          <tr class="border-b border-zinc-200 text-left text-xs uppercase tracking-widest text-rose-300">
            <th class="pb-3 pr-8"><%= t(".number") %></th>
            <th class="pb-3 pr-8"><%= @prescription.form.name.pluralize %></th>
            <% if @prescription.active? %>
              <th class="pb-3 pr-8"><%= t(".date") %></th>
              <th class="pb-3"><%= t(".edit") %></th>
            <% else %>
              <th class="pb-3"><%= t(".date") %></th>
            <% end %>
          </tr>
        </thead>
        <tbody class="divide-y divide-zinc-100">
          <% @prescription.packs.order(acquired_at: :desc).each_with_index do |pack, index| %>
            <tr class="transition-colors hover:bg-zinc-50">
              <td class="py-3 pr-8 font-medium text-zinc-800"><%= @prescription.packs.count - index %></td>
              <td class="py-3 pr-8 font-medium text-zinc-800">
                <%= pack.amount %>
              </td>
              <td class="my-3 font-medium text-zinc-800">
                <%= local_time(pack.acquired_at, "%B %e, %Y") %>
              </td>
              <% if @prescription.active? %>
                <td>
                  <div class="flex">
                    <%= link_to edit_prescription_pack_path(@prescription, pack), target: "_top", class: "mx-1" do %>
                    <%= image_tag "icons/edit.svg", class: "aspect-square h-[1.5em]" %>
                    <% end %>
                    <%= button_to prescription_pack_path(@prescription, pack), method: :delete, data: { turbo_confirm: t(".confirm_delete") }, class: "mx-1" do %>
                      <%= image_tag "icons/delete.svg", class: "aspect-square h-[1.5em]" %>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
    <%= render "partials/add_button", path: new_prescription_pack_path(@prescription) %>
  </turbo-frame>
</div>
