<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FemMed" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Femmed">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
  </head>

  <body class="font-[Merriweather]">
    <div id="veil" class="hidden fixed top-0 left-0 w-screen h-screen bg-black/50 z-50"></div> <%# Used for some js things %>

    <%= render "partials/header" %>
    <%= render "partials/flash" %>

    <main class="container mx-auto mt-28 px-5 flex text-black/85">
      <%= yield %>
    </main>

    <%= render "partials/footer" %>
  </body>
</html>
